@media(max-width: 991px){
    .mainname h1{
    color: darkorange;
    padding-left: 10px;
    font-size: 26px;
}

.items ul li {
    padding: 10px 18px;
    list-style: none;
}

.items ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;
    padding: 5px 12px;
}

.machinehead{
    flex-wrap: wrap;
}
.datialhead{
    flex-wrap: wrap;
}

.sadicard{
    flex-wrap: wrap;
}

.headowner{
    flex-wrap: wrap;
}

.qrhead {
    flex-wrap: wrap;
    padding: 0;
}

footer{
    margin-top: 30px;
}

}

@media(max-width: 768px){
    .mainname h1{
    color: darkorange;
    padding-left: 10px;
    font-size: 22px;
}

.items ul{
    display: none;
}

span{
    display: block;
}

.machinehead{
    flex-wrap: wrap;
}


}