* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: whitesmoke;
}

.logo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px;
    margin: 0 0 0 20px;
}

.logo img {
    width: 100%;
    height: 100%;

}

header {
    background-color: #05182a;
    position: relative;

}

.topname h1 {
    color: #dca330;
    width: 907px;
    height: 80px;
    position: absolute;
    left: 275px;
    top: 12px;
    font-size: 54px;
    font-weight: 600;
    text-align: center;
}

.items {
    
}

.items ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items ul li {
    padding: 10px 35px;
    list-style: none;
}

.items ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
}

.items ul li a:hover {
    color: darkorange;
}

.number {
    width: 420px;
    position: absolute;
    left: 800px;
    top: 98px;
    background-color: #dca330;
    border-radius: 15px;
    text-align: center;
    padding: 10px 15px;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.463);
}

.number h4 a {
    color: #05182a;
    text-decoration: none;
    font-weight: 450;
    font-size: 18px;
    text-align: center;
}

.add {
    background-color: #05182a;
    width: 550px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.589);
    margin: auto;

}


.add h3 {
    color: white;
    text-transform: capitalize;
    font-weight: 400;
}

.topimage {
    width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 9px;
    background-color: #05182a;
    border: 3px solid #dca330;
    padding: 10px;
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.669);
    transition: linear 1s;
    transform: scale(10deg);

}

.topimage img {
    width: 100%;
    height: 100%;
}

.topimage1 {
    width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 9px;
    background-color: #05182a;
    border: 3px solid #dca330;
    padding: 10px;
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.669);
    transition: linear 1s;
    transform: scale(10deg);


}

.topimage1 img {
    width: 100%;
    height: 100%;
}

.topimage2 {
    width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 9px;
    background-color: #05182a;
    border: 3px solid #dca330;
    padding: 10px;
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.669);
    transition: linear 1s;
    transform: scale(10deg);

}

.topimage2 img {
    width: 100%;
    height: 100%;
}

.main h3 {
    font-size: 24px;
    font-weight: 500;
    color: #d40000;
    font-weight: 500;
    text-align: center;
    padding: 20px 0 0 0;
}


.machinehead {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px;
    gap: 60px;
    height: 272px;
    background-color: whitesmoke;
}

.topimage:hover {
    width: 300px;
    height: 220px;
    /* transform: scale(10deg); */
    /* transition-duration: 1s; */
    overflow: hidden;

}

.topimage1:hover {
    width: 300px;
    height: 220px;
    /* transform: scale(10deg); */
    /* transition-duration: 1s; */
    overflow: hidden;
}

.topimage2:hover {
    width: 300px;
    height: 220px;
    /* transform: scale(10deg); */
    /* transition-duration: 1s; */
    overflow: hidden;
}


.Service {
    width: 220px;
    background-color: #f3af29;
    color: #05182a;
    padding: 8px 14ox;
    margin: 40px auto;
    border: 5px solid #05182a;
    border-radius: 8px;
    box-shadow: 3px 3px 14px gray;

}


.Service h3 {
    padding: 10px 20px;
    text-align: center;
}

#myfesility {
    position: relative;
}

.sadicard {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 20px; */
    gap: 60px;
    height: 296px;
}

.card {
    width: 370px;
    height: 250px;
    border: 8px solid #05182a;
    border-radius: 5px;
    box-shadow: 3px 3px 12px#05182a7e;
    overflow: hidden;
    transition: linear 0.5s;
    transform: scale(15deg);

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card:hover {
    width: 390px;
    height: 275px;
    overflow: hidden;
    /* transform: rotate(360deg); */
}

.sadicard1 {
    background-color: rgb(255, 94, 0);
    width: 250px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.589);
    margin: auto;

}


.sadicard1 h3 {
    color: white;
    text-transform: capitalize;
    font-weight: 400;
}

.sadicard2 {
    background-color: #05182a;
    width: 250px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.589);
    margin: auto;

}


.sadicard2 h3 {
    color: white;
    text-transform: capitalize;
    font-weight: 400;
}


.datialhead {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin: 20px auto;
}

.datialhead1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin: 20px auto;
}

.owner {
    width: 220px;
    background-color: #05182a;
    color: #fff;
    padding: 8px 14px;
    margin: 40px auto;
    border: 5px solid #05182a;
    border-radius: 8px;
    box-shadow: 3px 3px 14px gray;

}


.owner h3 {
    padding: 10px 20px;
    text-align: center;
}

.photo
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #05182a;
    overflow: hidden;
    object-fit: cover;
}

.photo img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photomain
{
    text-align: center;
}

.name
{
    margin: 10px;
}
.headowner
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
    margin: 30px;
}

.owner1 {
    width: 290px;
    background-color: #05182a;
    color: #fff;
    padding: 8px 14px;
    margin: 40px auto;
    border: 5px solid #05182a;
    border-radius: 8px;
    box-shadow: 3px 3px 14px gray;

}


.owner1 h3 {
    padding: 10px 20px;
    text-align: center;
}

.qr
{
    width: 350px;
    height: 350px;
    border: 5px solid#05182a;
    border-radius: 9px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    background-color: white;
    margin: 40px;

}

.qr img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0%;
    top: -5%;

}

.bankdatial{
    width: 400px;
    height: 120px;
    background-color: #05182a;
    text-align: center;
    border-radius: 40px;
}

.bankdatial h3{
    text-align: center;
    color: white;
    margin: 10px auto 0;
}

.qrhead
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}

.thank
{
    width: 500px;
    background-color: #05182a;
    color: white;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto 40px ;

}

.thank h2
{
    text-align: center;
}